<h1>New Service</h1>

<%= form_with scope: :service, url: services_path, local: true do |form| %>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
</p>

<p>
    <%= form.submit %>
</p>
<% end %>